body {
    margin: auto;
    padding: 0;
      font-family: "Saira";
}
h2 { font-size: 50px;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 34px;
    font-family: "Saira";
   padding: 30px 40px;   
}
.heading a {
     font-family: "Saira";
text-decoration: none;
color: #212020;
}
.menu {
    padding: 10px 40px 50px 40px;
    margin: auto;
     max-width: 600px;
    display: flex;
    justify-content: space-between;
   
}
 .menu li {list-style: none;}
.menu a {
    font-size: 15px;
    font-family: "Merriweather";
     text-decoration: none;
    color: #212020;
}
.menu a:hover {
    color: red;
}
.mobile-menu {
    float: right;
    top:auto;
    display: none;
    height: 40px;
    width: 40px;
    background-image: url(../img/icon.png);
    background-size: cover;
}

@media (max-width : 990px)
{
    .mobile-menu {
        display: block;
    }
    .menu {
        display:none;
    }
}

@media (min-width: 660px) {
    #cover {display: grid;
        grid-template-columns: 1fr;
}}
@media (min-width:900px) {
    #cover {display: grid;
        grid-template-columns: 1fr 1fr;
}}
    #cover {
        padding: 100px 0px;
        background-color:  #F1F1F1; 
    }
.banner {
    margin:30px 15px 0px 15px;
}

.banner h1 {
    font-size: 80px;
    font-weight: bolder;
    color: #212020;
    line-height: 1;
    letter-spacing: -.034em;
}
.banner p {
    font-size: 16px;
    font-family: "Merriweather";
    color: #212020;
}
.banner a  {
    padding: 15px 30px;
   text-decoration: none;
   font-family: "Merriweather";
   color: white;
   border: 1px solid #E04141;
   background-color: #E04141;
   border-radius: 30px/30px;

}
button {padding: 15px 30px;
   text-decoration: none;
   font-family: "Merriweather";
   color: white;
   border: 1px solid #E04141;
   background-color: #E04141;
   border-radius: 30px/30px;}

.adaptive {
    width: 100%;
    height:100%;}

@media (min-width: 660px) {
    #cover {display: grid;
        grid-template-columns: 1fr;
}}
@media (min-width:900px) {
    #cover {display: grid;
        grid-template-columns: 1fr 1fr;
}}

#products, #blog, #why-us {
    background-image: url("../img/background-image.jpg");
}
#products h2 {
    color: rgb(206, 187, 187);
    font-weight: inherit;
}
#products {
    padding-top: 50px;
    padding-bottom: 100px;
}

.adaptive { width: 100%;
height: auto;  }

@media (min-width: 660px) {
    .categories{display: grid;
        grid-template-columns: 1fr;
}}
@media (min-width: 900px) {
    .categories{display: grid;
        grid-template-columns: 1fr 1fr;
}}
@media (min-width: 960px) {
    .categories{display: grid;
        grid-template-columns: 1fr 1fr 1fr;
}}

.categories1 {
    background-color: white;
    margin: 30px 20px;
    text-align: center;
}
.categories1 a {
    margin: 25px 0px 0px;
    font-style: "Merriweather";
    font-size: 17px;
    color: #212020;
    text-decoration: none;
}
.categories1 a:hover
{     padding-bottom: 1px;
    border-bottom: 1px solid #212020;

}
.categories1 p {
   margin: 16px 0px 24px;
   font-style: "Merriweather";
   font-size: 17px;
   font-weight: bold;
   color: #E04141;
}

@media (min-width :770px)
{
    .colections1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
       
    }
}

 











#gift-packs {
    background-color:#EBEBEB;
}

#custom-orders {
    background-image: url(../img/background-custom-orders.jpg);
    background-size: cover;
    
}

#why-us {
    color: #F1F1F1;
    text-align: center;
}
.box-tools {
    width: 100px;
    height: 100px;
}
@media (min-width : 770px)
{
    .why-us-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
}
@media (min-width: 990px) 
{
 .why-us-box {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     
 }
}










footer {
    background-color: #212020;
    color: white;
}
footer a {
    color: white;
     text-decoration: none;
}
footer p { color: #BCBCBC;
           font-size: 15px;} 
@font-face {
    font-family: "Saira";
    src: url("../font/Saira-Regular.ttf");
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "Merriweather";
    src: url("../font/Merriweather-Regular.ttf");
    font-style: normal;
    font-weight: normal;
} 